<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjq.umeng">

    <!-- 共同权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 友盟社会化 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <!-- 友盟 Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <!-- QQ AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPID"
            android:value="${QQ_APPID}" />
        <!-- QQ Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPKEY"
            android:value="${QQ_APPKEY}" />

        <!-- 微信 AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPID"
            android:value="${WX_APPID}" />
        <!-- 微信 Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPKEY"
            android:value="${WX_APPKEY}" />

        <!-- 友盟社会化 -->

        <!-- QQ 回调 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_APPID}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

        <!-- 微信回调（请注意这个 Activity 放置的包名要和当前项目的包名保持一致，否则将不能正常回调） -->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

    </application>

</manifest>