<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjq.umeng">

    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 友盟社会化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <!-- 友盟多渠道（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 友盟 Key（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="UMENG_APPKEY_VALUE" />

        <!-- QQ AppId（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPID"
            android:value="QQ_APPID_VALUE" />
        <!-- QQ Key（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPKEY"
            android:value="QQ_APPKEY_VALUE" />

        <!-- 微信 AppId（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPID"
            android:value="WX_APPID_VALUE" />
        <!-- 微信 Key（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPKEY"
            android:value="WX_APPKEY_VALUE" />

        <!-- 新浪 AppId（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="SN_APPID"
            android:value="SN_APPID_VALUE" />
        <!-- 新浪 Key（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="SN_APPKEY"
            android:value="SN_APPKEY_VALUE" />

        <!-- 友盟社会化 -->

        <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />

        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QQ（请注意将我们的qq appkey替换成您自己的qq appkey） -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencentQQ_APPID_VALUE" tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 微信回调 -->
        <activity
            android:name="com.hjq.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>