<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjq.demo">

    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- 启动页面（因为使用了LauncherTheme，所以不要给这个Activity设置screenOrientation属性，会导致崩溃） -->
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:theme="@style/LauncherTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 主页界面 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop" />

        <!-- 登录界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop" />

        <!-- 注册界面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop" />

        <!-- 关于界面 -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_text"
            android:launchMode="singleTop" />

        <!-- 浏览器界面 -->
        <activity
            android:name=".ui.activity.WebActivity"
            android:launchMode="singleTop" />

        <!-- 对话框使用案例界面 -->
        <activity android:name=".ui.activity.DialogActivity" />

    </application>

</manifest>